<div class="p-2 mx-4 bg-sky-300">

    <div class="box" [title]="titleText">
        <span>نام کاربری</span>
        <input type="text" class="input p-2 border rounded-lg" [(ngModel)]="username" >
       
        
    </div>

    <div class="box">
        <span>رمز عبور</span>
        <input type="password" class="input p-2 border rounded-lg" [(ngModel)]="password" >
       
    </div>

    @if(username.length >= 4 && password.length >= 8){
        
            <div>
                <button (click)="login()" class="p-2 border rounded-lg border-stone-700 min-w-[70px]" >ورود</button>
             </div>
        

    } @else {
        <p>
            لطفا فرم را تکمیل کنید
        </p>
    }

</div>
