<div>
    <ul class="flex my-2">
        <li class="mx-2 cursor-pointer hover:bg-sky-300 p-2 rounded-lg " [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}" >صفحه اصلی</li>
        <li class="mx-2 cursor-pointer hover:bg-sky-300 p-2 rounded-lg" [routerLink]="['/products']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">محصولات</li>
        <li class="mx-2 cursor-pointer hover:bg-sky-300 p-2 rounded-lg" [routerLink]="['/about-us']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">درباره  ما</li>
        <li class="mx-2 hover:bg-sky-300 p-2 rounded-lg" [routerLink]="['/login']">ورود   </li>
        <li class="mx-2 hover:bg-sky-300 p-2 rounded-lg" [routerLink]="['/register']">ثبت نام   </li>
    </ul>
</div>
